---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }}</h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
    
    <a href="{{page.img-credit-link}}" target="_blank" 
    style="font-size: 12px;color:rgba(255,255,255,0.8); margin: 0; float:left; margin-top: -25px; margin-left: 1px">
    <small>{{page.img-credit-text}}</small></a>
  </header>
  <section class="post-content">{{ content }}</section>
</article>
