---
layout: default
---
<div class="container">
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  
   
  
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.feature-title | default: page.title }} <div style="display:none">by khakim assidiqi</div></h1>
    {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}

  </header>
  <div class="meta">
    <div class="row">
      <div class="date">{{ page.date | date: "%d %B %Y" }}</div>
      {% if page.location %}
      <div class="dots"></div>
      <div class="location">{{ page.location }}</div>
      {% endif %}
    </div>
  </div>
  <section class="post-content">{{ content }}</section>
  <!-- {% include tags_list.html tags=page.tags tag_count=page.tags.size %} -->
</article>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
{% if page.comments %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
{% endif %}

<!-- Post navigation -->
{% if site.theme_settings.post_navigation %}
  {% include post_nav.html %}
{% endif %}
</div>

<!-- Image Alt -->
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script>
 jQuery('.post-content').find('img').after(function() {
   return jQuery('<p class="image-title">').text(jQuery (this).attr('title'));
 });
 jQuery('.post-content').find('iframe').after(function() {
   return jQuery('<p class="image-title">').text(jQuery (this).attr('title'));
 });
</script>
