

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin: 0;
}
// For correct line number width in Github Gists
.gist table tbody tr td {
  box-sizing: content-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.2;
  margin: 0.67em 0;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote.indent{
    border-left: 2px solid;
    padding: 1em 1em;

    margin-left: 40px !important;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
td {
  vertical-align: top;
}
th {
  vertical-align: bottom;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p{
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: justify;
}
p.indent{
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: justify;
  text-indent: 40px;
}
h2.first{
  font-weight: bold;
  font-size: 20px;
  float: left;
  margin: 0;
  margin: 10px;
}
ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
}
// KaTeX math display
.math-display {
  display: inline-block;
  width: 100%;
}
// Lists within lists
li > ul, li > ol {
    margin-bottom: 0;
    margin-left: 1em;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}

p.text-gray
{
  color: #eee !important;
}

.post-header-big{
    @extend %padding-regular;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

/* index book style */
.row {
  display: table;
}

.title-teks, .dots, .value-teks {
  display: table-cell;
  text-transform: lowercase;
}

.title-teks, .value-teks {
  white-space: nowrap;
}

.table {
  width: 500px;
  margin: 10px;
}

.dots {
  border-bottom: 1px dotted gray;
  width: 100%;
}

mark{
  background-color: rgb(252, 252, 155);
}


// blinking cursor effect
.blinking-cursor {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.home{
  margin-bottom: 50px;
}